################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sln
/LAB3/Debug
/LAB3/.vs/LAB3/v16
/LAB3/LAB3/Debug
*.vcxproj
*.filters
*.user
/OOP3lab/OOP3lab/Debug
/OOP3lab/.vs/OOP3lab/v16
/LAB3/Release
/LAB3/LAB3/Release
/LAB4/.vs/LAB4/v16
/LAB4/Debug
/LAB4/LAB4/Debug
/LabChisl/.vs/LabChisl/v16
