################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sln
/LAB3/Debug
/LAB3/.vs/LAB3/v16
/LAB3/LAB3/Debug
*.vcxproj
*.filters
*.user
